# Django
SECRET_KEY=
DEBUG=True

# Domínio
ALLOWED_HOSTS=localhost,127.0.0.1,forjageek.space,www.forjageek.space

# Banco de dados (Neon PostgreSQL)
DATABASE_URL=

# IA
GEMINI_API_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=