# ==========================
# Django
# ==========================
SECRET_KEY=
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1,forjageek.space,www.forjageek.space

# ==========================
# Banco de dados
# ==========================
NEON_DATABASE_UR=
FORJAGEEK_USE_SQLITE=false

# ==========================
# Google Gemini
# ==========================
GEMINI_API_KEY=
GEMINI_MODEL=

# ==========================
# Stripe
# ==========================
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=
# ==========================
# Twilio (WhatsApp Verify)
# ==========================
TWILIO_ACCOUNT_SID=cole_seu_account_sid_aqui
TWILIO_AUTH_TOKEN=cole_seu_auth_token_aqui
TWILIO_VERIFY_SERVICE_SID=cole_seu_verify_service_sid_aqui

# ==========================
# E-mail SMTP
# ==========================
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.seu-provedor.com
EMAIL_PORT=587
EMAIL_HOST_USER=seu-email@exemplo.com
EMAIL_HOST_PASSWORD=SUA_SENHA_DE_APLICATIVO
EMAIL_USE_TLS=true
DEFAULT_FROM_EMAIL=ForjaGeek <seu-email@exemplo.com>