# Ambiente Python
.venv/
venv/
.env

# Cache
__pycache__/
*.py[cod]

# Banco local
db.sqlite3
backups/

# Arquivos de mídia
media/
.rembg/

# Estáticos gerados
staticfiles/

# VS Code
.vscode/

# Logs
*.log
